img.memory_display
{
    height : 512px;
    width : 512px;
    border : 1px white solid;
    image-rendering: pixelated;
}

div.memory_container
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

div.memory
{
    margin: 0 5px;
}

div.display_control
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

div.control_holder
{
    margin: 0 5px;
}

#search_results
{
    min-width: 200px;
    min-height: 200px;
}

div.search_control_box
{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
}

.search_control
{
    margin-right:10px;
}

.search_results_container
{
    width: auto;
}
